{% extends 'sidebar.html' %}
{% block content %}
    <div class='title'>
        <div class="card bg-light m-2 p-2 overflow-hidden">
            <h1>Search History</h1>
            <hr>
            <div class="row border-bottom border-dark">
                <div id="SHtitleLeft" class="col"><b>Search</b></div>
                <div id="SHtitleRight" class="col"><b>Date, time</b></div>
            </div>
            {% for history in histories %}
                {% include 'profile/histories/single_search_history.html' with histories=history %}
            {% endfor %}
        </div>
    </div>
{% endblock %}