{% extends 'sidebar.html' %}
{% block content %}
    <div class="title">
        <div class="card bg-light m-2 overflow-hidden p-2">
            <h1 class="card-title title">Username: {{ dj_name }}</h1>
                <h4>First name: {{account.first_name}}</h4>
                <h4>Last name: {{account.last_name}}</h4>
            <hr>
            <div class="card-body row">
                <div class="m-auto col">
                    <img src="{{ account.profile_image.url }}" class="profileImg card-img" alt="{{ dj_name }}">
                    {#            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                    {% comment %} <div class="d-block ml-2 my-auto">
                        <button class="btn miscBtn mb-3" type="button">Change image</button>
                        <button class="btn miscBtn mb-3" type="button">Change name</button>
                        <button class="btn miscBtn" type="button">Change password</button>
                    </div> {% endcomment %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col align-self-end">
                            <button class="btn miscBtn SHbutton" type="button" onclick="navigateTo('edit_profile')">Edit Profile
                            </button>
                        </div>
                        <div class="mt-5 d-sm-flex" style="bottom: 0;">
                            <button class="btn miscBtn SHbutton" type="button" onclick="navigateTo('../histories/search_history')">View Search History</button>
                            <button class="btn miscBtn SHbutton" type="button" onclick="navigateTo('../histories/purchase_history')">View Purchase History</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}