{% extends 'sidebar.html' %}
{% block content %}
    <h1>Don't scream</h1>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div class="captain">
        Please kill me
    </div>
    <div> AAAAAAAAAAAAAAAAA </div>
{% endblock %}