{% extends 'sidebar.html' %}
{% block content %}
    <div class="content">
        <h1 class="title">Don't scream</h1>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div class="captain">
            Please kill me
        </div>
        <div> AAAAAAAAAAAAAAAAA </div>
    </div>
{% endblock %}