{% extends 'base.html' %}
{% block sidebar %}
    <ul id="sidebar">
        <li class="sidebarItem p-1" onclick="navigateTo('/product')">CONSOLES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/manufacturer')">PORTABLES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/manufacturer')">GAMES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/manufacturer')">ACCESSORIES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/manufacturer')">MISCELLANEOUS</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/manufacturer')">MANUFACTURERS</li>
        <li id="goBack" onclick="javascript:history.back() //Sends user back through their browser history (could lead to the user getting sent out of the page entirely.)" class="sidebarItem p-1">BACK</li>
    </ul>
{% endblock %}