{% extends 'filter.html' %}
{% load static %}
{% block sidebar %}
    <div class="text-center">
        <button id="sidebarButton" class="btn mx-auto" type="button" data-toggle="collapse" data-target="#sidebar"
                aria-expanded="false" aria-controls="sidebar">
            <img src="{% static 'images/interface.svg' %}" class="interfaceIco">
        </button>
    </div>
    <ul id="sidebar" class="collapse">
        <li class="sidebarItem p-1" onclick="navigateTo('/product/')">ALL PRODUCTS</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/product/type_filter/1')">CONSOLES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/product/type_filter/4')">PORTABLES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/product/type_filter/3')">GAMES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/product/type_filter/2')">ACCESSORIES</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/product/type_filter/5')">MISCELLANEOUS</li>
        <li class="sidebarItem p-1" onclick="navigateTo('/manufacturer')">MANUFACTURERS</li>
        <li id="goBack"
            onclick="javascript:history.back() //Sends user back through their browser history (could lead to the user getting sent out of the page entirely.)"
            class="sidebarItem p-1">BACK
        </li>
    </ul>
{% endblock %}