{% extends 'base.html' %}
{% block sidebar %}
    <ul id="sidebar">
        <li class="sidebarItem" onclick="navigateTo('/manufacturer')">Consoles</li>
        <li class="sidebarItem" onclick="navigateTo('/manufacturer')">Portables</li>
        <li class="sidebarItem" onclick="navigateTo('/manufacturer')">Games</li>
        <li class="sidebarItem" onclick="navigateTo('/manufacturer')">Accessories</li>
        <li class="sidebarItem" onclick="navigateTo('/manufacturer')">Miscellaneous</li>
        <li id="goBack" onclick="javascript:history.back() //Sends user back through their saved history" class="sidebarItem">Back</li>
    </ul>
{% endblock %}