#filter {
    position: absolute;
    background: #fefefe;
    border: 2px solid black;
    border-radius: 10px;
    top: -350px;
    z-index: 1;
    width: 400px;
}

.searchAndFilter {
    /*flex: 0 0 66.6;*/
}

.inFilter .row {
    display: block!important;
}

.exitIco {
    width: 1.5rem;
    float: right;
}

.exitIco:hover {
    cursor: pointer;
}