#filter {
    position: absolute;
    background: #fefefe;
    border: 2px solid black;
    border-radius: 10px;
    top: -300px;
    z-index: 1;
}

.searchAndFilter {
    margin: auto;
}

.inFilter .row {
    display: inline!important;
}