#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #64adfe;
    border-top: solid 2px black;
    padding: 1rem 1rem 2px 1rem;
}

#info {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: .5rem;
    margin: auto;
}

.inf {
    height: 100%;
    padding: .5rem;
    vertical-align: middle;
    border: 2px solid black;
    background-color: white;
}

iframe {
    margin: auto;
}

.contact {
    height: 25px;
    margin-left: 6px;
    animation-name: fullCircleOut;
    animation-duration: .5s;
}

.contact:hover {
    cursor: pointer;
    animation-name: fullCircle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fullCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fullCircleOut {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}