body {
    background-image: url("../images/bg_image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.captain {
    background-color: #64adfe;
    /*border: solid 2px #64adfe;*/
}