/*margin: auto 0 auto 0;*/
/*^^For vertically centering*/
/*margin: 0 auto 0 auto;*/
/*^^For horizontally centering*/
/*margin: auto;*/
/*^^For complete centering*/

body {
    background-image: url("../images/bg_image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(80, 80, 80, .5);
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(80, 80, 80, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #55595e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #65676d;
}

/* Handle on click */
::-webkit-scrollbar-thumb:active {
    background: #4e4f57;
}

::-webkit-scrollbar-corner {
    background: #000000;
}

/*.captain {
    background-color: #64adfe;
    !*border: solid 2px #64adfe;*!
    color: rgba(0, 0, 0, 0.5);
}*/

.capImg {
    margin-left: 2rem;
    height: 4rem;
    margin-right: 1rem;
    border: 2px solid black;
}

.navbar {
    background-color: #64adfe;
    border-bottom: solid 2px black;
}

#container {
    background: #64adfe;
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    border: solid 2px black;
    border-width: 0 2px 0 2px; /* This is actually valid, we just want the left and right side of container to have borders */
}

.content {
    /*background: #64adfe;*/
    display: flex;
    flex-flow: wrap;
    /*width: 100%;*/
    padding: 20px;
}

.searchBox {
    vertical-align: middle;
    height: 100%;
    border-radius: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.subBox {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 85%;
    height: 36px;
}

.filterBox {
    text-align: center;
    padding: 6px;
    width: 15%;
    background-color: white;
}

.dropSvg {
    width: 1.25rem;
}

.searchBar {
    display: flex;
    padding: 0;
    width: 38.5rem;
}

.form-inline {
    /*width: 80%;*/
    margin: auto;
    border: 2px solid grey;
}

.searchBtn {
    border-left: 2px solid black;
    border-width: 0 0 0 2px;
    /*border: none;*/
    background-color: white;
    border-radius: 0;
}

.miscBtn {
    margin-right: 1.5rem;
    vertical-align: middle;
/*    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;*/
    border: 2px solid black;
    background: white;
    border-radius: 5px;
}

.miscBtn:hover {
    background: rgb(235, 235, 235);
}

.cart {
    height: 1.5rem;
}

.dropdown-item {
    transition: background-color .5s ease;
}

.dropdown-item:hover {
    background: rgb(235, 235, 235);
}

.well {
    min-height: 20px;
    padding: 19px;
    /*margin-top: 20px;*/
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin: 20px 10px 0 10px;
}

.manImg {
    height: 10rem;
    width: 10rem;
    border: 5px solid black;
}

.leftHalf {
    display: inline;
    text-align: center;
    width: 40%;
    height: 100%;
}

.rightHalf {
    display: inline;
    width: 60%; /*Það er vesen í manufacturer/<id> með width sem 60%*/
    height: 100%;
}

.flex_class {
    display: flex;
    width: 25%;
    text-align: center;
}

.max_size {
    width: 100%;
    height: 100%;
}

.list_container {
    display: flex;
    flex-wrap: wrap;
}

.price_tag {
    color: black;
}

.title {
    display: block;
    text-align: center;
    width: 100%;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: medium;
    white-space: inherit;
}

#goUp {
    right: 20px;
    bottom: 20px;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #64adfe;
    color: black;
    text-align: center;
    transition: background-color .5s ease;
}

#goUp:hover {
    background-color: #3d89cd;
}

.upArr {
    margin-top: 8px;
    height: 30px;
}

.manLink {
    margin: auto;
}

.cardTitle {
    font-size: 2.5em;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.card-header {
    text-align: center;
    font-weight: bold!important;
}

.card-img {
    object-fit: cover;
    width: 100%;
}

.card-img-top {
    width: 100%;
}

.card {
    display: block !important;
}

.point:hover {
    cursor: pointer;
}

.card-text {
    word-wrap: break-word !important;
}

.profileImg {
    height: 10rem;
    width: 10rem;
    border: 2px solid black
}

.card-title {
    margin-top: .75rem !important;
}

.changeBtn {
    margin: auto;
}

#SHsearch {
    margin: auto;
}

/*#SHdate {
    border-bottom: 1px solid black;
}*/

/*.SHwell {
    min-height: 20px;
    padding: 19px;
    !*margin-top: 20px;*!
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin: 20px 10px 0 10px;
    overflow: hidden;
}*/

/*#SHtitleLeft {
    float: left;
    width: 50%;
}*/

.manHR {
    margin-bottom: 0;
}

.rowCust {
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
}

.leftCol {
    border-right: solid 1px rgb(223, 224, 225);
    padding-top: 1rem;
    width: 40%;
}

.leftCol img {
    max-width: 313px;
    /*max-height: available;*/
}

.rightCol {
    width: 60%;
    padding: 2rem 1rem 1rem;
    text-align: left;

}

.proButton {
    display: inline-block;
    margin-top: 10px;
}

.proImg {
    height: 13rem;
    width: 13rem;
    border: 5px solid black;
}

.SHbutton {
    float: right;
}

#prodList .row {
    margin-left: 0;
    margin-right: 0;
}

#prodList .col {
    width: 25%;
}

.editText {
    margin: 5px;
}

.buttonAddToCart {
    margin: auto;
}

#cartConfirm {
    position: fixed;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
}

#cartRemove {
    position: fixed;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
}

#filtButt:hover {
    cursor: default;
}

#filtButt::selection {
    background-color: inherit;
}

.imgRev {
    object-fit: cover;
    width: 50%;
}

.reviewButton {
    display: block;
}
