/*margin: auto 0 auto 0;*/
/*^^For vertically centering*/
/*margin: 0 auto 0 auto;*/
/*^^For horizontally centering*/
/*margin: auto;*/
/*^^For complete centering*/

body {
    background-image: url("../images/bg_image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/*.captain {
    background-color: #64adfe;
    !*border: solid 2px #64adfe;*!
    color: rgba(0, 0, 0, 0.5);
}*/
.capImg {
    height: 3.5rem;
    margin-right: 1rem;
    border: 2px solid black;
}

.navbar {
    background-color: #64adfe;
    border-bottom: solid 2px black;
}

.container {
    background: #64adfe;
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    /*background-color: whitesmoke;*/
    border: solid 2px black;
    border-width: 0 2px 0 2px;
}

.content {
    /*background: #64adfe;*/
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: 20px;
}

.searchBox {
    vertical-align: middle;
    height: 100%;
    border-radius: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.subBox {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 85%;
    height: 36px;
}

.filterBox {
    padding: 6px;
    width: 15%;
    background-color: white;
}

.dropSvg {
    width: 1.25rem;
}

.searchBar {
    padding: 0;
    width: 38.5rem;
}

.form-inline {
    /*width: 80%;*/
    margin: auto;
    border: 2px solid grey;
}

.searchBtn {
    border-left: 2px solid black;
    border-width: 0 0 0 2px;
    /*border: none;*/
    background-color: white;
    border-radius: 0;
}

.miscBtn {
    margin-right: 1.5rem;
    vertical-align: middle;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    border: 2px solid black;
    background: white;
    border-radius: 5px;
}

.miscBtn:hover {
    background: rgb(235, 235, 235);
}

.cart {
    height: 1.5rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #64adfe;
    border-top: solid 2px black;
    padding: 1rem 1rem 2px 1rem;
}

#info {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    padding-bottom: .5rem;
    margin: auto;
}

.inf {
    height: 100%;
    padding: .5rem;
    vertical-align: middle;
    border: 2px solid black;
    background-color: white;
}

iframe {
    margin: auto;
}

.noScroll {
    position: fixed;
    bottom: 0;
}

.well {
    min-height: 20px;
    padding: 19px;
    /*margin-top: 20px;*/
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin: 20px 10px 0 10px;
}
.manImg {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
    border: 5px solid black;
}

.leftHalf {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: 100%;
}

.rightHalf{
    display: inline-block;
    width: 60%;
    height: 100%;
}

/*.flex_class{
    display: flex;
}*/

.max_size{
    width: 100%;
    height: 100%;
}

.list_container{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}

.contact {
    height: 25px;
    margin-left: 6px;
    animation-name: fullCircleOut;
    animation-duration: .5s;
}

.contact:hover {
    cursor: pointer;
    animation-name: fullCircle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fullCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fullCircleOut {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.price_tag {
    color: black;
}

.title{
    display: block;
    text-align: center;
    width: 100%;
}

pre {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: medium;
    white-space: inherit;
}

#goUp {
    right: 20px;
    bottom: 20px;
    position: fixed;
    /*height: 20px;*/
    height: 50px;
    width: 50px;
    background-color: #64adfe;
    color: black;
    text-align: center;
    /*border-color: #64adfe!important;*/
    animation-name: lightenUp;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

@keyframes darkenUp {
    from {
        background-color: #64adfe;
    }
    to {
        background-color: #3d89cd;
    }
}

@keyframes lightenUp {
    from {
        background-color: #3d89cd;
    }
    to {
        background-color: #64adfe;
    }
}

#goUp:hover {
    animation-name: darkenUp;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

.upArr {
    margin-top: 8px;
    height: 30px;
}