<div class="title">
    <div class="card bg-light m-2 p-2">
        <h3 class="card-title">{{ review.title }}</h3>
        <h4>Grade: {{review.grade}}/10</h4>
        <hr class="manHR">
            <div class="rowCust">
                <img src="{{ account.profile_image.url }}">
{#                <img src="{{ review.acc_id.profile_image.url }}" class="imgRev">#}
                <b>{{review.acc_id}}</b>:
                <div class="righttCol p-2">
                <br>
                    {{review.text}}
                </div>
            </div>
    </div>
</div>
