{% extends 'sidebar.html' %}
{% block content %}
    <div class="title">
        <nav aria-label="breadcrumb" class="m-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><i>Contact info</i></li>
                <li class="breadcrumb-item"><i>Overview</i></li>
                <li class="breadcrumb-item"><i>Payment</i></li>
            </ol>
        </nav>
        <div class="card bg-light m-2 p-2">
            <h1 class="card-title text-center">Contact info</h1>
            <form class="d-flex flex-column text-left">
                <div>
                    <label for="fullName">Full name:</label>
                    <input type="text" class="form-control" id="fullName" name="fullName"></br>
                </div>
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="city"></br>
                <label for="streetName">Street name:</label>
                <input type="text" class="form-control" id="streetName" name="streetName"></br>
                <label for="houseNum">House number:</label>
                <input type="text" class="form-control" id="houseNum" name="houseNum"></br>
                <label for="country">Country:</label>
                <select class="form-control" id="country" name="country">
                    <option value="Iceland">Iceland</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Denmark">Denmark</option>
                </select></br>
                <label for="postalCode">Postal code:</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode"></br>
                <input onclick="saveToLocal()" type="button" class="btn miscBtn ml-auto mr-0" value="Save and continue">
            </form>
        </div>
    </div>
{% endblock %}