{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
    <script src="{% static 'js/cart.js' %}"></script>
    <script src ="{% static 'js/creditcard.js' %}"></script>
    <div id="cardMain" class="title m-auto w-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/cart/contact_info">Contact info</a></li>
                <li class="breadcrumb-item"><a href="/cart/overview">Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page"><i>Payment</i></li>
            </ol>
        </nav>
    <div class="card bg-light m-2 p-2">
        <h1 class="card-title">Payment</h1>
        <hr>
    <form>
        <label for="cardName">Name of Cardholder:</label>
        <input type="text" id="cardName" name="cardName" onfocus="resetCSS(this)"></br>
        <select tabindex="11" id="CardType" style="margin-left: 10px;" onfocus="resetCSS(this)">
            <option value="AmEx">American Express</option>
            <option value="CarteBlanche">Carte Blanche</option>
            <option value="DinersClub">Diners Club</option>
            <option value="Discover">Discover</option>
            <option value="EnRoute">enRoute</option>
            <option value="JCB">JCB</option>
            <option value="Maestro">Maestro</option>
            <option value="MasterCard">MasterCard</option>
            <option value="Solo">Solo</option>
            <option value="Switch">Switch</option>
            <option value="Visa">Visa</option>
            <option value="VisaElectron">Visa Electron</option>
            <option value="LaserCard">Laser</option>
        </select>
        <label for="cardNumber">Card number:</label>
        <input type="number" id="cardNumber" name="cardNumber" onfocus="resetCSS(this)"></br>
        <button id="cardCheckButton" type="button">Recheck card</button>
        <label for="cardExp">Expiration date:</label>
        <select id="cardExpMonth" name="cardExpMonth" onfocus="resetCSS(this)">
            <option id="01" value="01">01</option>
            <option id="02" value="02">02</option>
            <option id="03" value="03">03</option>
            <option id="04" value="04">04</option>
            <option id="05" value="05">05</option>
            <option id="06" value="06">06</option>
            <option id="07" value="07">07</option>
            <option id="08" value="08">08</option>
            <option id="09" value="09">09</option>
            <option id="10" value="10">10</option>
            <option id="11" value="11">11</option>
            <option id="12" value="12">12</option>
        </select>
        <select id="cardExpYear" name="cardExpYear" onfocus="resetCSS(this)">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
        <label for="cardCVC">CVC:</label>
        <input type="number" id="cardCVC" name="cardCVC" min="000" max="999" onfocus="resetCSS(this)"/><br>
            <div id="paymentAlert" class="alert alert-danger mt-2 text-center" role="alert">
                Your card is invalid. Error fields have been marked.
            </div>
        <input type="button" class="miscBtn" id="submitCard" name="submitCard" value="Order" onfocus="resetCSS(this)"/>  {# make confirmation page #}
    </form>
    </div>
</div>
    <div id="confirmCard" class="dFixed center">
        <div class="title card confirmCard p-2">
            <div class="card-title">
                <b>Congratulations!</b>
            </div>
            <hr>
            <div class="card-text overwriteDesc">
                Your purchase has been finalized and will be processed within 2 - 10000 business days.
            </div>
            <button class="btn miscBtn mt-2" onclick="navigateTo('/')">Back to home page</button>
        </div>
    </div>
{% endblock %}
