{% extends 'sidebar.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/product.js' %}"></script>
    <div class='title'>
        <div id="prodList" class="card m-2 list_container">
            <h1 class="card-title">Products</h1>
            <hr>
            <div class="dropdown ml-3"{% comment %} align="left"{% endcomment %}>
                <button class="btn miscBtn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Order by:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" onclick="divSort('name')" type="button">Name (Ascending)</button>
                    <button class="dropdown-item" onclick="divSort('name', true)" type="button">Name (Descending)</button>
                    <button class="dropdown-item" onclick="divSort('price')" type="button">Price (Ascending)</button>
                    <button class="dropdown-item" onclick="divSort('price', true)" type="button">Price (Descending)</button>
                </div>
            </div>
            <br>
            <div id="product_list" class="row row-cols-3 row-cols-sm-2 row-cols-md-4">
                {% for product in product %}
                    {% include 'product/single_product.html' with product=product %}
                {% endfor %}
            </div>
        </div>
        <script>
            searchButtons();
            shortenDesc();
            {# TODO move to js #}
        </script>
    </div>
{% endblock %}