{% extends 'sidebar.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/add_to_cart.js' %}"></script>
    <div class="well flex_class max_size">
        <div class="leftHalf">
            <h4>{{ product.name }}</h4>
            <img class="manImg" src="{{ product.image }}"/>
            <h3><u>{{ product.price }} Kr</u></h3>
        </div>
        <div class="rightHalf">
            <p>{{ product.description }}</p>
            <button id="{{ product.pk }}" type="button" class="buttonAddToCart">add to cart</button>
        </div>
    </div>

{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block content %}
    <div class="well flex_class max_size">
        <div class="leftHalf">
            <h4>{{product.name}}</h4>
            <img class="manImg" src="{{product.image}}"/>
            <h3>{{product.price}}</h3>
        </div>
        <div class="rightHalf">
            <p>{{product.description}}</p>
         </div>
    </div>

{% endblock %} {% endcomment %}