{% extends 'sidebar.html' %}
{% load static %}
<script src="{% static 'js/product_search.js' %}"></script>
{% block content %}
    <div class='title'>
        <div id="prodList" class="card m-2 list_container">
            <h1 class="card-title">Products</h1>
            <hr>
            <div class="row row-cols-3 row-cols-sm-2 row-cols-md-4">
                {% for product in product %}
                    {% include 'product/single_product.html' with product=product %}
                {% endfor %}
            </div>
            <script>
                shortenDesc();
            </script>
        </div>
    </div>
{% endblock %}