<div id='{{product.name}};{{product.price}}' class="col mb-4 productObject">
    <div class="card h-100">
        <a href="/product/{{ product.id }}">
            <img src="{{ product.image }}" class="card-img-top manImg" alt="{{ product.name }}">
        </a>
        <div class="card-body">
            <a href="/product/{{ product.id }}" class="text-dark">
                <h5 class="card-title">{{ product.name }}</h5>
            </a>
            <p class="card-text">{{ product.description }}</p>
            <p id="">{{ product.price }} Kr</p>
                <button id="{{ product.pk }}" type="button" class="buttonAddToCart mb-2 miscBtn">Add to cart</button>
                <button onclick="window.location.href='../../reviews/product/{{product.id}}'" type="button" class="miscBtn">Reviews</button>
        </div>
    </div>
</div>